<header id="header" class="d-flex align-items-center">
    <div class="container">

      <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
      <div class="logo d-block d-lg-none">
        <a href="index.html"><img src="../../../assets/img/images/recapLogo/yasin.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">
          <li routerLinkActive="active"><a routerLink="/homepage" >Anasayfa</a></li>
          <li *ngIf="isAuthenticated()" class="drop-down"><a href="">Eklemeler</a>
            <ul>
              <li><a routerLink="/colorAdd">Renk Ekle</a></li>
              <li><a routerLink="/brandAdd">Marka Ekle</a></li>
              <li><a routerLink="/carAdd">Araç Ekle</a></li>
                
              
            </ul>
          
          <li><a href="#services">Kiralama</a></li>

          <li class="nav-logo"><a routerLink="/"><img src="../../../assets/img/images/recapLogo/yasin.png" style="height: 150px;" alt="" class="img-fluid"></a></li>

          <li routerLinkActive="active"><a routerLink="/cars" >Tüm Araçlar</a></li>
          <li ><a routerLink="/contact">İleşim</a></li>
          <li *ngIf="isAuthenticated()" (click)="logout()"><a href="#">Çıkış Yap</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>