<app-navi></app-navi>

<section id="why-us" class="why-us">
    <div class="container-fluid">
        <div class="col-lg-12">
            <table class="table table-hover shadow-lg">
              <thead>
                <tr>
                  <th class="text-center">Marka</th>
                  <th>₺ Fiyatı</th>
                  <th>Model Yılı</th>
                  <th>Renk</th>
                  <th>Acıklama</th>
                  <th class="text-center"><i class='bx bx-image' style="font-size: 25px;"></i></th>
    
                  <th class="text-center">
                    <i class="bx bxs-detail"></i> Detaylar
                  </th>
                </tr>
              </thead>
              
              <tr *ngFor="let cardetail of carDetail">
                <td class="text-center">{{ cardetail.id }}</td>
                <td>{{ cardetail.dailyPrice | currency: "₺ " }}</td>
                <td>{{ cardetail.modelYear }}</td>
                <td>{{ cardetail.brandName }}</td>
                <td>{{ cardetail.description }}</td>
              </tr>
            </table>
          </div>
        </div>
      

    </section>